__pycache__/
*.py[cod]
*.so
.DS_Store

.pytest_cache/
.mypy_cache/
.ruff_cache/

logs/*
results/*
datasets/*
documents/*
experiments/*

!logs/.gitkeep
!results/.gitkeep
!datasets/.gitkeep
!documents/.gitkeep
!experiments/.gitkeep
!experiments/README.md
